
body
{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media screen and (min-width:750px)
{
ul
{
    list-style-type: none;
    margin-left: 400;
    text-align: center;
    font-size: 20px;
 
   
}
li 
{
    float: left;
}

li a {
    display: block;
    padding:12px 16px;
    color:white;
    text-decoration:none; 
}
li a:hover{
    background-color:white; 
    color: black;
}

u
{
    font-size: 25px;
    font-style: unset;
    color: red;
}
td
{
    padding-left:15;

}
.cv 
{
    width:920px;
    height:1250px;
    margin-left: 400;
    margin-top: 100;
    padding-left: 10;
    background-color:#ffffff;
    border:1px solid black;
    opacity:0.4;
    filter:alpha(opacity=60);
    float: left;
 }
 table tr
 {
   margin: 20 20 20 20;
   border-style: dotted;
   border: 5px;
   border-color: black;
   font-size: 22px;
 }
 a 
 {
    color:black;
 }
}
 @media screen and (max-width:750px)
{

    ul
    {
        list-style-type: none;
        text-align: center;
        font-size: 18px;
    }
    
    li a 
    {
        display: block;
        padding:12px 16px;
        color:#ffffff;
        text-decoration:none; 
    }
    li a:hover
    {
        background-color:#ffffff; 
        color: #000000;
        opacity: 0.5;
    }
    .ustmenu
    {
        margin-top: 1%;
        margin-left: 1%;
    }

u
{
    font-size: 25px;
    font-style: unset;
    color: rgb(116, 8, 8);
}
td
{
    padding-left:15;

}
.cv 
{
    width:75% auto;
    height:100% auto;
    margin: 15% auto;
    border:1px solid black;
    background-color: rgba(255, 255, 255, 0.4);
    align-items: center;
 }
 table tr
 {
   margin: 20 20 20 20;
   border-style: dotted;
   border: 5px;
   border-color: black;
   font-size: 18px;
 }
 a 
 {
    color:black;
 }
}